header {
  height: 100vh;
  padding-top: 3rem;

  overflow: hidden;
}

img {
  height: 100%;
  width: 100%;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/*--------------------Some Bar on left--------------------*/

.header__some {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  position: absolute;
  left: 0;
  margin-left: 1em;
  bottom: 3rem;
  padding: 1.2rem;

  border-radius: 60px;
  background: var(--color-container);
  backdrop-filter: blur(5px);
}

/* .header__some::after {
  content: "";
  width: 4px;
  height: 2rem;
  background: white;
} */

/*------------------Profile Pic --------------------*/

.profile-pic {
  background: var(--color-container);
  width: auto;
  height: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 60px;
  /* border: 2px solid red; */
  overflow: hidden;
  padding: 4rem 3.5rem 3rem 3.5rem;
}

/* .profile-pic img {
  border: 2px solid var(--color-header);
  border-radius: 3rem;
  padding: 3rem;
  display: flex;
  align-content: center;
} */

/*-----------------------Media Queries Medium---------------*/
@media screen and (max-width: 1024px) {
  header {
    height: 100vh;
  }
}

/*-----------------------Media Queries Small---------------*/
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }
  .header__some {
    display: none;
  }
}
